<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>
<body>
    <%- include("partials/nav-bar.ejs") %>
    <header>
        <h1>Welcome to your profile, <%= user.name %></h1>
    </header>
    <main>
        <img src="<%= user.picture %>" />
        <p>picture 2 the left</p>
    </main>
</body>
</html>