<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <%- include("partials/nav-bar.ejs") %>
    </div>
    <header>
        <h1>Welcome to our Tutoring App!</h1>
        <h2>Homepage for Tutees</h2>
    </header>
    <main>
        <p>CIS 350 project for Jill, Julie, Chloe, Selina, and Caroline</p>
        
    </main>
</body>
</html>